<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About KillJoy Adventures!</title>
  <meta name="description" content="Adventure Agency, Fun with Friends, Events">
  <meta name="keywords" content="Adventures, Paintball, Golf">
  <meta name="author" content="I.Justino, V. Bistrup">
  <link rel="stylesheet" href="../styles/mystyle.css">
</head>
<body>
<div>
  <img class="imgbanner" src="../imgs/customBanner.png"
       alt="Custom Banner picturing sumo wrestling, Go Kart, Golfing and Paintball Activities">
</div>
<nav>
  <ul class="nav-ul">
    <li class="nav-li"><a href="index.html">Home</a></li>
    <li class="nav-li"><a href="activity-site.html">Adventures</a></li>
    <li class="nav-li"><a href="about.html">About</a></li>
  </ul>
</nav>
</body>
</html>