<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<label>Vælg aktivitet</label>
<br>
<select id="ddSelectActivity">
    <option value="" selected="data-default" disabled="true">Aktiviteter</option>
    <!--selected default gør at den står først og disabled gør at brugeren ikke kan vælge den
    Tænk dog over om en dropdown SKAL vælges eller om der skal være et tom felt som kan submittes
    skal der overhoved være en placeholder-->
</select>


<script src="../js/fetchActivity.js"></script>
</body>
</html>