<!DOCTYPE html>
<html lang="da-dk">
<head>
    <meta charset="UTF-8">
    <title>Activities at KillJoy Adventures!</title>
    <meta name="description" content="Adventure Agency, Fun with Friends, Events">
    <meta name="keywords" content="Adventures, Paintball, Mini Golf, Laser Tag,">
    <meta name="author" content="I.Justino, V. Bistrup">
    <link rel="stylesheet" href="../styles/mystyle.css">
</head>
<body>
<header>
    <img class="imgbanner" src="../imgs/customBanner.png"
         alt="Custom Banner picturing sumo wrestling, Go Kart, Golfing and Paintball Activities">
    <nav>
        <ul class="nav-ul">
            <li class="nav-li"><a href="index.html">Home</a></li>
            <li class="nav-li active"><a href="activity-site.html">Adventures</a></li>
            <li class="nav-li"><a href="about.html">About</a></li>
        </ul>
    </nav>
</header>

<main>
    <form id="activityForm">
        <div>
            <label for="ddSelectTime">Start Time</label>
            <select id="ddSelectTime" name="activityTime" required>
                <option value="" selected disabled hidden>Choose start time</option>
            </select>
        </div>
        <div>
            <label for="ddSelectActivity">Activity</label>
            <select id="ddSelectActivity" name="activity" required>
                <option value="" selected disabled hidden>Choose activity</option>
            </select>
        </div>
        <button type="submit" id="pbPostActivity">Apply for timeslot</button>
    </form>
</main>

<footer>
    <script src="../js/fetchActivity.js"></script>
</footer>

</body>
</html>