<!DOCTYPE html>
<html lang="da-dk">
<head>
    <meta charset="UTF-8">
    <title>KillJoy Adventures!</title>
    <meta name="description" content="Adventure Agency, Fun with Friends, Events">
    <meta name="keywords" content="Adventures, Paintball, Golf">
    <meta name="author" content="I.Justino, V. Bistrup">
    <link rel="stylesheet" href="../styles/mystyle.css">
</head>
<body>
<div>
<!--    Image Banner with map, tænker at det skal aktivere et link til det Aktivity som man trykker på, og så kommer der lidt
    om aktiviteten og mulighed for booking?-->
    <img class="imgbanner" src="../imgs/customBanner.png"
         alt="Custom Banner picturing sumo wrestling, Go Kart, Golfing and Paintball Activities" usemap="#bannerMap">
    <map name="bannerMap">
        <area shape="circle" coords="200,200,200" alt="Sumo Actvity" href="activity-site.html">
        <area shape="circle" coords="600,200,200" alt="Gokart Activity" href="activity-site.html">
        <area shape="circle" coords="1000,200,200" alt="Mini Golf Actvity" href="activity-site.html">
        <area shape="circle" coords="1400,200,200" alt="Paintball Activity" href="activity-site.html">
    </map>
</div>
<nav>
<ul class="nav-ul">
    <li class="nav-li"><a href="index.html">Home</a></li>
    <li class="nav-li"><a href="activity-site.html">Activities!</a></li>
    <li class="nav-li"><a href="about.html">About</a></li>
    <li class="nav-li"><a href="about.html">About our Activities (PLACEHOLDER FOR MAYBE)</a></li>
</ul>
</nav>
<div class="flex-container">
    <header class="header">Welcome To KillJoy Adventures</header>
    <aside class="aside"><img src="../imgs/8hR45GmOiItBanwb3Yzl--1--t3urd.jpg" height="160"
                                                 width="160"/></aside>
    <article class="main">
        <p>KillJoy Adventures are perfect for the people who are looking for new adventures with their partners
        , friends or the people you hate!</p>
        <h2>We provide the following services:</h2>
        <ul>
            <li>Go-Kart</li>
            <li>Paintball</li>
            <li>Sumo-Wrestling</li>
            <li>Mini-Golf</li>
            <li><a href="activity-site.html">Click here to go to our <em>Activity Page!</em></a></li>
        </ul>
    </article>
    <footer class="footer">Footer</footer>
</div>
</body>
</html>